node_modules
node_modules/
dist/
build/
.vscode/
.idea/
*.iml
*.log
*.tmp
*.tmp.*
*.orig
*.orig.*
*.bak
*.bak.*
*.swp
*.swp.*
*.swo
*.swo.*
*.zip
*.tar.gz
*.rar
*.7z
*.exe
*.dll
*.pdb
*.lib
*.a
*.la
*.lo
*.o
*.obj
*.so
*.so.*
*.dylib
*.ncb
*.ncx
*.d
*.sdf
*.ilk
*.meta
*.obj*
*.pch
*.pdb
*.idb
*.tlog/
*.tlog/*
*.vs/
*.vs/*
*.clangd/
*.clangd/*
*.clang-format
*.clang-tidy
*.clangd.conf
*.editorconfig
*.ycm_extra_conf.py

